#header {
    box-sizing: border-box;
    height: 80px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    
  }
  
  #menu {
    display: flex;
    list-style: none;
    gap: 0.4rem;
    
  }
  
  #menu a {
    display: block;
    padding: 0.3rem;
    font-family: 'Uni';
    font-size: 18px;
  }

  a { 
    color: rgb(253, 253, 253);
    text-decoration: none;
    font-family: sans-serif;
}

p a  {
    color: #000000;
}

a:hover {
    color: deepskyblue;
  }
  
  #btn-mobile {
    display: none;
  }
  
  @media (max-width: 600px) {
    #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0px;
      background-color: rgb(46, 46, 46);
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
    }
    #nav.active #menu {
      height: calc(100vh - 70px);
      visibility: visible;
      overflow-y: auto;
    }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
      color: white;
    }
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }




@font-face {
    font-family: 'Uni';
    src: url('Uni Sans Heavy.otf') format('opentype')
}

body {
    
    background-color: rgb(0, 217, 255);
    margin: auto;
    padding: 0px;
    list-style: none;
    font-size: 1.2em;
    font-family: 'Arial';
    
}    


h1{
   color: rgb(2, 1, 1); 
}

section {

    padding-top: 10px;
    background-color: azure;
    text-align: center;
    margin: auto;
    max-width: 800px;
    justify-content: center;
}

section p {
    text-align: justify;
    margin: 15px;
    text-align: justify;
    font-size: 18px;
    line-height: 2em;
}

.flex {
    
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 80px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.418);
   
}



.twi{
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.075);
    padding-bottom: 30px;
    max-width: 90%;
    
}

footer{
    background-color: black;
    
    
  }

  .Contato{
    padding: 10px;
    font-size: 18px;
    color:white;
    text-align: center;
    
    
  }

  h3{
    padding: 10px;
   
  }

  .icones{
    text-align: center;
    padding-bottom: 19px;
    
  }

